@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-overlay {
  align-items: center;
  display: flex;
  justify-content: center;
}

.loading-overlay__icon {
  animation: spin 1s infinite linear;
}